# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# mpeltonen/sbt-idea plugin
.idea_modules/
project/project
project/target
target
.idea
.openapi-generator
generated/target
client/target
.bsp
.DS_Store
.env
